.footer {
  background: #16133d;
  padding: 40px;
}

.footer-slogan {
  color: $c-footer-slogan;
}

.socials {
  padding-top: 40px;
  display: flex;
}

.socials__item {
  background-color: $c-header-border;
  padding: 10px;
  max-width: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
