/*================= header ============*/
.header {
  padding-top: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid $c-header-border;
}

.contant__title {
  padding-top: 55px;
  padding-bottom: 35px;
}

.pre-title {
  padding-bottom: 20px;
}

.slogan {
  display: flex;
}

.slogan__logo {
  margin-right: 20px;
}

.slogan__text-to {
  font-family: $ff-logo;
  font-weight: $fw-logo;
  font-size: $fs-logo;
}
