// * Font Families
$ff-logo: "Quicksand", sans-serif;
$ff-main: "Roboto", sans-serif;
$ff-h1-title: "Nunito Sans", sans-serif;

// * Font Sizes
// Text font sizes
$fs-logo: 35px;
$fs-h1: 40px;
$fs-post-title: 24px;
$fs-main: 16px;

// * Font Weights
$fw-logo: 500;
$fw-base: 400;
$fw-title-h1: 600;

// * Colors
$c-primary: #16133d;
$c-pre-text: #7690a8;
$c-hover-logo: #3db370;
$c-header-border: #efeef3;
$c-post-border: #e5eaf4;
$c-icon: #007ffc;
$c-footer-slogan: #f2f2f2;
$c-socials-icon: #0d0d0d;

//
$max-width: 1155px;
